<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile=".\internal_logs\internallog.txt">
  
  <extensions>
    <add assembly="NLog.WindowsEventLog" />
  </extensions>
  
  <variable name="appName" value="AddressBookApp" />
  
  <targets>
		<target name="logfile" xsi:type="File"
		fileName=".\logs\${shortdate}_logfile.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>

    <target xsi:type="EventLog"
                name="eventlog"
                layout="${longdate} ${level:uppercase=true} ${message}"
                source="${appName}"
                machinename="."
                log="Application" />
  </targets>
  
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="eventlog" />
	</rules>
</nlog>